// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$icon: #FF8A00;
$text: #0F1B2E;
$accent: #7597D1;
$cont: #E0E8F5;
$bg: #FCF8F4;
