// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 300px;

}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category {
  background-color: rgb(43, 186, 211);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-align: center;
}

.card-category2 {
  background-color: rgb(211, 43, 202);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-align: center;
}

