// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: 33% 0;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 27px;
  font-weight: bold;
  padding: 5% 0;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category {
  background-color: rgb(43, 186, 211);
  height: 200px;
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-align: center;
}

.card-category2 {
  background-color: rgb(211, 43, 202);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-align: center;
  flex-direction: column;
}

.icon i {
  font-size: 40px; /* Adjust icon size */
}

.icon2 i {
  font-size: 40px; /* Adjust icon size */
}

.icon{
  margin-bottom: 20px;
}

.icon2{
  margin-bottom: 20px;
}

.card {
  text-align: center;
}

.text {
  h3{
  font-size: 1.5rem;
  font-weight: 700;
  }
  span{
    font-size: 3.5rem;
    font-weight: 100;
  }
  p {
  font-size: 1rem;
  margin: 0 4%;
  }
}
