.container.show {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
    margin-top: 30px;;

  }

  h3 {
    font-size: 15px;
  }
}

.btn-sticky {
  position: sticky;
  margin-top: 5%;;
  // top: 70%;
}
