<h1 id="chat-title">Chatrooms</h1>
<ul id="chat-list">
  <% @chatrooms.each do |c| %>
    <li id="list-item">
      <div class="chatroom-icon">
        <i class="fas fa-comments"></i> <!-- Replace with appropriate icon -->
      </div>
      <a href="<%= chatroom_path(c) %>" id="link"><%= c.name %></a>
    </li>
  <% end %>
</ul>
