<style>
  /* Styling for the body */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Replace with your desired background color */
  }
</style>











<h1 id="chat-title">Chatrooms</h1>
<ul id="chat-list">
  <% @chatrooms.each do |c| %>
    <li id="list-item">
      <div class="chatroom-icon">
        <i class="fas fa-comments"></i> <!-- Replace with appropriate icon -->
      </div>
      <a href="<%= chatroom_path(c) %>" id="link"><%= c.name %></a>
    </li>
  <% end %>
</ul>
