<div class="container container-profile">
  <h2>Profile page</h2>
  <%= render "shared/profile_info", user: current_user, state: @state %>
  <%= link_to "Edit information", edit_user_path(current_user), class: "btn-action"%>
</div>
