<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <p>Adopt<strong>mwa</strong></p>
    <% end %>






    </div>
    <%= link_to new_animal_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>
