<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'AdoptMwa_logo.png', alt: 'AdoptMwa', class: 'img-responsive', style: "height:30px;width:auto;" %>
    <% end %>
    <%= link_to new_animal_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-plus" style="color:#FF8A00;"></i>
    <% end %>
  </div>
</div>
