<div class="container">
  <%= simple_form_for [@animal, @adoption] do |f| %>
    <%= f.input :start_date, class: "form-control" %>
    <%= f.submit "Submit", class: "btn-submit" %>
  <% end %>
</div>
