

  <%# <div class="row">
    <div class="col-12"> %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnhbgkoqn/image/upload/v1699357227/low-angle-dogs-near-adopt-me-banner_rvgso8.jpg);">
        <div class="container">
          <%# <h2>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h2>
          <p>Change your life and learn to code at one of our campuses around the world.</p> %>
          <a class="btn btn-flat" href="#">Discover more!</a>
        </div>
      </div>
    <%# </div>
  </div> %>

<div class="card-category">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt id mi eu ultricies.
</div>

<div class="card-category2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt id mi eu ultricies.
</div>


  <%# <div class="row">
    <div class="col-12 col-lg-12"> %>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sterilisation Campaign</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <%# </div>
  </div> %>

<div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Adoption Campaign</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



