

  <%# <div class="row">
    <div class="col-12"> %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnhbgkoqn/image/upload/v1699357227/low-angle-dogs-near-adopt-me-banner_rvgso8.jpg);">
        <div class="container">
           <h2><strong>Adoption</strong> and <strong>sterilisation</strong> are the only <strong>solutions</strong>!</h2>
          <%#<p>Change your life and learn to code at one of our campuses around the world.</p> %>
          <%# <a class="btn btn-flat" href="#">Discover more!</a> %>
        </div>
      </div>
    <%# </div>
  </div> %>

<div class="card-category card-height">
  <div class="icon">
    <i class="fas fa-sun"></i>

  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt id mi eu ultricies.</p>
  </div>
</div>

<div class="card-category2 card-height">
  <div class="icon2">
  <i class="fas fa-heart"></i>
  </div>
  <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt id mi eu ultricies.
  </div>
</div>


  <%# <div class="row">
    <div class="col-12 col-lg-12"> %>
      <div class="container">
        <div class="card card-space img-full-width">
          <img src="<%= asset_path('catdog.jpg') %>" class="card-img-top" alt="Cat-Dog">
          <div class="card-body">
            <h5 class="card-title">Sterilisation Campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <%# </div>
        <%# </div> %>

        <div class="card card-space img-full-width">
          <img src="<%= asset_path('dogcat.jpg') %>" class="card-img-top" alt="Dog-Cat">
          <div class="card-body">
            <h5 class="card-title">Adoption Campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
