.chat-icon {
  background: white;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px lightgray;

  i {
    font-size: 26px;
    color: $icon;
  }
}

.back-icon {
  background: $white;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px lightgray;
  text-decoration: none;

  i {
    font-size: 26px;
    color: $icon;
  }
}

.favorite-icon {
  background: white;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px lightgray;

  i {
    color: #898989;

    &.favorite {
      color: rgb(255, 0, 0);
    }
  }

}

.btn-action {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white;
    box-shadow: 2px 3px 5px lightgray;
    background-image: linear-gradient(142deg, #FF8A00, #ffaf53);
    font-weight: 700;
    font-size: 18px;
}

// input {
//   padding: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-decoration: none;
//   margin-bottom: 10px;
//   border-radius: 25px;
//   color: white;
//   box-shadow: 2px 3px 5px lightgray;
//   background-image: linear-gradient(142deg, #7597D1, #90a7d3);
//   font-weight: 700;
//   font-size: 18px;
// }
