#card-pet {
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px 2px lightgray;
  margin-bottom: 7%;
  background-color: $bg;

  .carousel-inner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
card-space{
  margin-top: 4%;
}

.card-height{
  height: 300px !important;
}
