#card-pet {
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 4px 5px lightgray;
  margin-bottom: 20px;

  .carousel-inner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

