.container-request {
  margin: 10px;
  padding: 10px;
  background: $bg;
  border-radius: 20px;

  h2 {
    border-bottom: 1px solid #0f1b2e5f;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  #request-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
  }
}

.container-adopter-info {
  margin-top: 25px;

  h2 {
    border-bottom: 1px solid #0f1b2e5f;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}
