.flat-form {
  background-color: #ffffff;
  // padding: 24px;
  // border-radius: 3px;
  box-shadow: 0px 0px 4px 1px #e9ecef;
}


.check_boxes.animal_breed {
  display: flex;
  justify-content: space-between;
}
