.request-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 0px;

  .card-request {
    padding: 10px;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: 1px solid #fdf3ea;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 15px;
    margin-bottom: 25px;

    .card-request-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-request-info i {
      font-size: 28px;
      padding-left: 10px;
      padding-right: 10px;
      color: $text;
    }

    .fa-eye {
      background: $white;
      border-radius: 50px;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 5px lightgray;
    }
  }
}
