.request-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 0px;

  .card-request {
    padding: 10px;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border-radius: 15px;
    margin-bottom: 10px;

    .card-request-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-request-info i {
      font-size: 28px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
